*
{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.navbar
{
    display: flex;
    align-items: center;
    padding:20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    text-decoration: solid;
    color: teal;
    display:inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    font-weight: bold;
}
p{
    color: teal;
}
.container{
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;
    margin:auto;
}

.row{
    display: flex;
    align-items: centre;
    flex-wrap: wrap;
    justify-content:space-around ;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;


}
.col-2 img{
    max-width: 90%;
    padding:50px 0;
}
p2{
    color:red;

}
p3{
    padding:28px;
    font-weight: bold;
    font-size: 20px;
}
.col-2 h2{
    font-size: 26px;

}
.col-2 h3{
    font-size:24px;
}
.marquee{
    font-size:21px;
    color:red;
}
body{
    font-family: 'poppons',sans-serif;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding:8px 30px;
    margin:17px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.header{
    background:radial-gradient(#fff,#ffd6d6)
}
.btn:hover{
    background: #563434;
}
.catagories{
    margin:70px 0px;
}
.col-3{
    min-width:250px;
    flex-basis: 30%;
    margin-bottom: 30px;
}
.col-3 img{
    width:100%;
}
.small-container{
    max-width: 1080px;
    padding-right: 25px;
    padding-left:25px ;
    margin:auto;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5;
}
.col-4 img{
    width:100%
}
.h2{
    margin: centre;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555;
    text-decoration: double;

}
.title::after{
    content: '';
    background: #ff523b;
    width:80px;
    hieght:5px;
    position:absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.h4{
    color:#555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color:#ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
.h2{
    color:red;
}
.offer{
    background:radial-gradient(#fff,#ffd6d6);
    margin-top:80px;
    padding: 30px 0;

}
.SB{
    color:#ff523b;
}
.information{
    size:20px;
}
.col-2 .offer-img{
    padding:50px;
}


/*---testimonial--*/
.testimonial{
    padding-top: 100px;

}
.testimonial .col-3{
    text-align:centre;
    padding:40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor:pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width:50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
/*----footer----*/
.footer{
    background:#000;
    color:#8a8a8a;
    font-size: 14px;
    padding:60px 0 20 px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}

/*-------all product page-----*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border:1px solid #ff523b;
    padding: 5px;
}
.page-btn{
    margin:0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left:10px;
    height:40px;
    text-align: centre;
    line-height: 40px;
    cursor:pointer;
}
.page-btn span:hover{
    background:#ff523b;
    color:#555;
}

/*----media query for menu----*/

@media only screen and (max-width:800px){
    nav ul{

        position: absolute;
        top:70px;
        left:0;
        background: #333;
        width:100%;
    }
.nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}
.small-img-row{
    display: flex;
    justify-content: space-between;

}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}


/*------cart items ----*/

.cart-page{
    margin:80px auto;
}
table{
    width:100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color:white;
    font-weight: normal;
    background: #ff523b;
}
td{
    padding:10px 5px;
}
td input{
    width:40px;
    height:30px;
    padding:5px;
}
td a{
    color:#ff523b;
    font-size:12px;
}
td img{
    width:80px;
    height:80px;
    margin-right:10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;

}
.total-price table{
    border-top: 3px solid #ff523b;
    width:100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}